/* Footer */
footer {
    text-align: center;
    padding: 40px;
    background-color: #000;
    border-top: 1px solid #222;
}

/* =========================
   MOBILE & TABLETS HERO
   ========================= */
@media (max-width: 768px) {
    footer{
        font-size: 15px;
    }
}

/* =========================
   MOBILE PHONES HERO
   ========================= */
@media (max-width: 480px) {
    footer{
        font-size: 12px;
    }
}
